
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Đăng nhập thành công</h1>
<form asp-action="Logout" asp-controller="User" method="post">
    <button class="btn btn-primary" type="submit">Logout</button>
</form>

